@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

nav {
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    z-index: 1;
}

#logo-buffet {
    width: 130px;
    height: 130px;
}

ul {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10px;
}

li {
    margin-left: 30px;
    margin-right: 30px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

li a {
    text-decoration: none;
    color: yellow;
    font-family: 'Poppins';
    font-size: 16px;
}

li:hover {
    text-shadow:
        0 0 10px rgba(255, 255, 0, 0.8),
        0 0 20px rgba(255, 255, 0, 0.6);
    transform: scale(1.10);
}

#login-sign {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#login-sign button {
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

#login-button {
    background-color: rgb(91, 214, 255);
    width: 80px;
    height: 40px;
    border-radius: 8px;
    color: black;
}

#login-button:hover {
    background-color: rgb(67, 192, 237);
    box-shadow: 0 0 10px rgba(67, 192, 237, 0.8), 0 0 25px rgba(67, 192, 237, 0.5);
    transform: translateY(-2px);
}

#sign-button {
    color: black;
    background-color: rgb(255, 178, 71);
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

#sign-button:hover {
    background-color: rgb(255, 150, 0);
    box-shadow: 0 0 10px rgba(255, 150, 0, 0.8), 0 0 25px rgba(255, 150, 0, 0.5);
    transform: translateY(-2px);
}

.mobile-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

main {
    background-image: url(../img/decoracao2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.titulo-atracoes{
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 20px;
    max-width: 800px;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-atracoes h1 {
    font-size: 55px;
    margin-top: 10px;
}

.titulo-atracoes p {
    font-size: 20px;
    margin: 10px 0;
}

.titulo-atracoes button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6334B1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.titulo-atracoes button:hover {
    background-color: #B843E4;
}

#atracoes1{
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.img img{
    max-width: 200px;
    border-radius: 20px;
}

#atracoes2{
    background: linear-gradient(90deg, #66257E, #B943E4);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.img img{
    max-width: 200px;
    border-radius: 20px;
}

#atracoes3{
    background: linear-gradient(90deg, #66257E, #6334B1);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.img img{
    max-width: 200px;
    border-radius: 20px;
}

#atracoes4{
    background: rgb(203,146,255);
    background: linear-gradient(rgba(203,146,255,1) 0%, rgba(107,0,247,1) 100%,rgba(107,0,247,1) 100%);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.img img{
    max-width: 200px;
    border-radius: 20px;
}


/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */

footer {
    margin-top: 50px;
    position: relative;
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    color: white;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

footer p,
footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
    max-width: 30px;
}

footer .bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
    margin-top: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 150px;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
@media screen and (max-width:500px) {
    nav {
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: none;
    }

    li {
        display: table;
        margin: auto;
    }

    #login-sign {
        margin: 30px;
    }

    #login-button {
        width: 80px;
        height: 40px;
    }

    .mobile-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
        opacity: 0;
    }

    .mobile-menu.open {
        display: block;
        opacity: 1;
    }

    .mobile-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-icon .icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .mobile-menu ul {
        display: block;
        text-align: center;
        transition: all 2s ease-in-out;
    }

    .mobile-menu li a {
        display: block;
        padding: 10px;
        margin: 0;
    }

    .open {
        display: block;
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        transition: all 2s ease-in-out;
    }
}