@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

nav {
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    z-index: 999;
}

#logo-buffet {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    z-index: 5;
    position: sticky;
}

ul {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10px;
}

li {
    margin-left: 30px;
    margin-right: 30px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

li a {
    text-decoration: none;
    color: yellow;
    font-family: 'Poppins';
    font-size: 16px;
}

li:hover {
    text-shadow:
        0 0 10px rgba(255, 255, 0, 0.8),
        0 0 20px rgba(255, 255, 0, 0.6);
    transform: scale(1.10);
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}


.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.user #user-logo{
    max-width: 50px;
}

.user p{
    color: white;
    text-transform: capitalize;
}


.logout img{
    max-width: 40px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 30px;
}

#login-sign {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#login-sign button {
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

#login-button {
    background-color: rgb(91, 214, 255);
    width: 80px;
    height: 40px;
    border-radius: 8px;
    color: black;
}

#login-button:hover {
    background-color: rgb(67, 192, 237);
    box-shadow: 0 0 10px rgba(67, 192, 237, 0.8), 0 0 25px rgba(67, 192, 237, 0.5);
    transform: translateY(-2px);
}

#sign-button {
    color: black;
    background-color: rgb(255, 178, 71);
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

#sign-button:hover {
    background-color: rgb(255, 150, 0);
    box-shadow: 0 0 10px rgba(255, 150, 0, 0.8), 0 0 25px rgba(255, 150, 0, 0.5);
    transform: translateY(-2px);
}

.mobile-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

svg {
    z-index: 1;
    position: relative;
}

main {
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
}


.titulo-atracoes {
    box-shadow: 0 0 100px #B843E4;
    background: linear-gradient(180deg, #66257e, #6434b1e6, #b943e4ef);
    border-radius: 20px;
    max-width: 800px;
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-bottom: 300px;
}

.titulo-atracoes h1 {
    font-size: 55px;
    margin-top: 10px;
}

.titulo-atracoes p {
    font-size: 20px;
    margin: 10px 0;
}

.titulo-atracoes button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6334B1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.titulo-atracoes button:hover {
    background-color: #B843E4;
}

.carrossel-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin: auto;
    transition: transform 0.5s ease-in-out;
}

.carrossel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: calc(100% * 4);
    transition: transform 0.5s ease-in-out;
}

.item {
    transition: opacity 0.3s ease;
}

.item img {
    max-width: 100%;
    margin-bottom: 90px;
}

.setas {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: 0.3s ease-in-out all;
}

#prev {
    left: 30px;
    top: 330px;
}

#next {
    right: 30px;
    top: 330px;
}

.container_atracoes1 {
    position: relative;
    background: linear-gradient(#66257e, #6434b1, #b943e4);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.container_atracoes1 .destaque {
    max-width: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container_atracoes1 .destaque button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6334B1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container_atracoes1 .destaque button:hover {
    background-color: #B843E4;
}

.container_atracoes1 .img {
    display: grid;
    grid-template-areas:
        "imagem-grande imagem-pequena1"
        "imagem-grande imagem-pequena2";
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    width: 55%;
    max-width: 900px;
}

.container_atracoes1 .img .imagem-grande {
    grid-area: imagem-grande;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    animation: voar 10s infinite;
    transition: all 0.3s ease-in-out;
}

.container_atracoes1 .img .imagem-grande:hover {
    box-shadow: 0 0 20px #B943E4;
}

.container_atracoes1 .img .imagem-pequena {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.container_atracoes1 .img .imagem-pequena:hover {
    box-shadow: 0 0 20px #B943E4;
}

.container_atracoes1 .img .imagem-pequena:nth-child(2) {
    grid-area: imagem-pequena1;
    animation: voar 7s infinite;
}

.container_atracoes1 .img .imagem-pequena:nth-child(3) {
    grid-area: imagem-pequena2;
    animation: voar 5s infinite;
}

@keyframes voar {
    50% {
        transform: scale(1.05);
    }
}

/* ATRAÇOES PRINCIPAIS */
/* ATRAÇOES PRINCIPAIS */
/* ATRAÇOES PRINCIPAIS */
/* ATRAÇOES PRINCIPAIS */
/* ATRAÇOES PRINCIPAIS */

#atracoes2 {
    height: 100vh;
    background: linear-gradient(#b943e4, #6434b1);
}

.titulo h1 {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
    font-size: 50px;
    color: white;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    perspective: 1000px;
}

.card {
    position: relative;
    width: 350px;
    height: 500px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.card:hover {
    transform: rotateY(180deg);
}

.conteudo {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.fronteira,
.trazeira {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    backface-visibility: visible;
    transition: opacity 0.5s ease;
}

.fronteira {
    background: linear-gradient(80deg, #66257e, #6434b1);
}

.trazeira {
    background-color: #151515;
    transform: rotateY(180deg);
    opacity: 0;
}

.card:hover .trazeira {
    opacity: 1;
}

.card:hover .fronteira {
    opacity: 0;
}

.fronteira img {
    width: 120px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.fronteira img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px #ff00ff);
}

.fronteira h1 {
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}

.trazeira img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
}

.trazeira p {
    text-align: center;
    color: #e0e0e0;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px;
    animation: fadeInText 0.7s ease-in-out forwards;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container_atracoes3 {
    position: relative;
    background: linear-gradient(#6434b1, #b943e4, #66257e);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

.container_atracoes3 .destaque {
    max-width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container_atracoes3 .destaque button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6334B1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container_atracoes3 .destaque button:hover {
    background-color: #B843E4;
}

.container_atracoes3 .img {
    display: grid;
    grid-template-areas:
        "imagem-grande imagem-pequena1"
        "imagem-grande imagem-pequena2";
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    width: 55%;
    max-width: 900px;
}

.container_atracoes3 .img .imagem-grande {
    grid-area: imagem-grande;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    animation: voar 10s infinite;
    transition: all 0.3s ease-in-out;
}

.container_atracoes3 .img .imagem-grande:hover {
    box-shadow: 0 0 20px #B943E4;
}

.container_atracoes3 .img .imagem-pequena {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.container_atracoes3 .img .imagem-pequena:hover {
    box-shadow: 0 0 20px #B943E4;
}

.container_atracoes3 .img .imagem-pequena:nth-child(2) {
    grid-area: imagem-pequena1;
    animation: voar 7s infinite;
}

.container_atracoes3 .img .imagem-pequena:nth-child(3) {
    grid-area: imagem-pequena2;
    animation: voar 5s infinite;
}

.container_atracoes4 {
    position: relative;
    background: linear-gradient(#66257e, #6434b1, #b943e4);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: row-reverse;
}

.container_atracoes4 .destaque {
    max-width: 450px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container_atracoes4 .destaque button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #6334B1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container_atracoes4 .destaque button:hover {
    background-color: #B843E4;
}

.container_atracoes4 .img {
    display: grid;
    grid-template-areas:
        "imagem-grande imagem-pequena1"
        "imagem-grande imagem-pequena2";
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    width: 55%;
    max-width: 900px;
}

.container_atracoes4 .img .imagem-grande {
    grid-area: imagem-grande;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    animation: voar 10s infinite;
    transition: all 0.3s ease-in-out;
}

.container_atracoes4 .img .imagem-grande:hover {
    box-shadow: 0 0 20px #B943E4;
}

.container_atracoes4 .img .imagem-pequena {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.container_atracoes4 .img .imagem-pequena:hover {
    box-shadow: 0 0 20px #B943E4;
}

.container_atracoes4 .img .imagem-pequena:nth-child(2) {
    grid-area: imagem-pequena1;
    animation: voar 7s infinite;
}

.container_atracoes4 .img .imagem-pequena:nth-child(3) {
    grid-area: imagem-pequena2;
    animation: voar 5s infinite;
}



/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */
/* FOOTER CABEÇALHO */

footer {
    position: relative;
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    color: white;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

footer p,
footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
    max-width: 30px;
}

footer .bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
    margin-top: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 150px;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
/* RESPONSIVIDADE DE DISPOSITIVOS MOVEIS */
@media screen and (max-width:500px) {
    nav {
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: none;
    }

    li {
        display: table;
        margin: auto;
    }

    #login-sign {
        margin: 30px;
    }

    #login-button {
        width: 80px;
        height: 40px;
    }

    .mobile-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
        opacity: 0;
    }

    .mobile-menu.open {
        display: block;
        opacity: 1;
    }

    .mobile-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-icon .icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .mobile-menu ul {
        display: block;
        text-align: center;
        transition: all 2s ease-in-out;
    }

    .mobile-menu li a {
        display: block;
        padding: 10px;
        margin: 0;
    }

    .open {
        display: block;
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        transition: all 2s ease-in-out;
    }
}