@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

nav {
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
}

#logo-buffet {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    cursor: pointer;
}

header ul {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10px;
}
header ul li {
    margin-left: 30px;
    margin-right: 30px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}
header ul li a {
    text-decoration: none !important;
    color: yellow !important;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
header ul li a:hover {
    text-decoration: none !important;
}
header ul li:hover {
    text-shadow:
        0 0 10px rgba(255, 255, 0, 0.8),
        0 0 20px rgba(255, 255, 0, 0.6) !important;
    transform: scale(1.1) !important;
}

.perfil{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.user{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 46px !important;
    
}

.user #user-logo{
    max-width: 50px !important;
}

.user p{
    color: white;
    text-transform: capitalize;
}
.user a {
    text-decoration: none; /* Remover o sublinhado dos links */
    margin-top: 5px;
}


.logout img{
    max-width: 40px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 24px !important;
}

#login-sign {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#login-sign button {
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

#login-button {
    background-color: rgb(91, 214, 255);
    width: 80px;
    height: 40px;
    border-radius: 8px;
    color: black;
}

#login-button:hover {
    background-color: rgb(67, 192, 237);
    box-shadow: 0 0 10px rgba(67, 192, 237, 0.8), 0 0 25px rgba(67, 192, 237, 0.5);
    transform: translateY(-2px);
}

#sign-button {
    color: black;
    background-color: rgb(255, 178, 71);
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

#sign-button:hover {
    background-color: rgb(255, 150, 0);
    box-shadow: 0 0 10px rgba(255, 150, 0, 0.8), 0 0 25px rgba(255, 150, 0, 0.5);
    transform: translateY(-2px);
}

.mobile-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
main {
    height: 350vh;
}

#main-real {
    animation: fadeIn 1s ease-in-out;
}
main {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 120, 1) 100%);
    height: 200vh;
}

#main-real {
    animation: fadeIn 1s ease-in-out;
}

#pageTitle {
    text-align: center;
    margin-top: -30px;
    margin-bottom: -65px;
    color: white;
}

#pageSubtitle {
    text-align: center;
    margin-top: 15px;
    margin-bottom: -65px;
    color: white;
}

#caixas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 110px;

}

.caixa {
    background: linear-gradient(rgb(186, 106, 186), rgb(148, 57, 166));
    border: 3px solid #ffffff;
    border-radius: 8px;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 450px;
    height: 250px; 
    box-shadow: 0 0 10px rgba(11, 78, 5, 0.1);
    transition: all 0.5s ease-in-out;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Adicione esta linha */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transição suave para transformação e opacidade */
}
.fade-in {
    opacity: 0; /* Começa invisível */
    transform: translateY(-10px); /* Move um pouco para cima */
}

.fade-out {
    opacity: 0; /* Fica invisível */
    transform: translateY(10px); /* Move um pouco para baixo */
}

.visible {
    opacity: 1; /* Fica visível */
    transform: translateY(0); /* Volta para a posição original */
}
.feedback-content {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.feedback-text {
    max-height: 150px; 
    word-wrap: break-word; 
    margin-right: 5px; /* Adiciona um espaço à esquerda */
    right: 10px; /* Distância da direita */
}

.imagemcontato {
    width: 50px;
    height: auto;
    margin-top: 5px;
}

.caixa h4 {
    margin-top: 10px;
    margin-left: -10px;
    font-size: 18px;
}

.caixa h3 {
    margin-top: 3px;
    color: #ffffff;
    font-size: 17px; 
    position: absolute;
    bottom: 10px; /* Distância da parte inferior da caixa */
    margin-left: -8.5px; /* Ajuste conforme necessário */
   
}

.caixa p {
    line-height: 1.6;
    margin: 10px 0;
    text-align: justify;
    overflow-wrap: break-word; /* Quebra palavras para evitar que o texto ultrapasse a caixa */
    white-space: normal; /* Permite que o texto quebre em múltiplas linhas */
    max-width: 400px;
    margin-right: 5px;
    margin-left: -8.5px;
}
.feedback-content {
    display: flex;
    align-items: flex-start;
}

.depoimento-container {
    text-align: center;
    margin-top:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #6334B1;
}

#buttondepoiment {
    background-color: #9b57c6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 652px;
}

.modal-footer button {
    background-color: #9b57c6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.modal-footer button:hover {
    background-color: #501277;
    cursor: pointer;
}

.depoimento-button:hover {
    background-color: rgb(226, 2, 211);
}

#duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 20px;
}

#titleDuvidas {
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    margin-right: 580px;
}

.duvidas-comentarios {
    display: flex;
    gap: 110px;
    width: 100%;
    justify-content: space-between;
}

.accordion {
    flex: 1;
    max-width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.comment-section{
    flex: 1;
    width: 575px;
    height: 265px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fff;
    margin-top: -182px;
}
.comment-section h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.comment-section textarea {
    width: 100%;             /* Largura total do contêiner */
    max-width: 600px;       /* Largura máxima do textarea */
    min-height: 140px;      /* Altura mínima */
    padding: 10px;          /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 5px;     /* Bordas arredondadas */
    resize: vertical;       /* Permite redimensionar verticalmente */
    font-size: 16px;        /* Tamanho da fonte */
    color: #333;            /* Cor do texto */
    background-color: #f9f9f9; /* Cor de fundo clara */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transições suaves */
}

.comment-section button {
    margin-top: 10px;
    width: 100%;
    background-color: #6334B1;
    border: 1px solid black;
}
.comment-section button:hover{
    background-color: #490961;
    cursor: pointer;
}
.comment-section button:active{
    color: black;
}
#contato{
   margin-right:-270px ;
   width: 650px;
}
#contatotitle{
    color: white;
    margin-bottom: 200px;
    margin-top: -53px;
    margin-left: 170px;
}

/* Estilos específicos do acordeão */
.accordion-item {
    border: none;
}

.accordion-button {
    background-color: #6f42c1;
    color: white;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #9b59b6;
}

.accordion-button:focus,
.accordion-button:focus-visible {
    background-color: #6f42c1;
    color: white;
    outline: none;
}

.accordion-button:not(.collapsed) {
    background-color: #6f42c1;
    color: white;
}

.accordion-collapse {
    background-color: #f5c9e8;
}

.accordion-body {
    color: #333;
    padding: 1rem;
}
footer {
    position: relative;
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    color: white;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

footer p,
footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
    max-width: 30px;
}

footer .bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
    margin-top: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 150px;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width:500px) {
    nav {
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: none;
    }

    li {
        display: table;
        margin: auto;
    }

    #login-sign {
        margin: 30px;
    }

    #login-button {
        width: 80px;
        height: 40px;
    }

    .mobile-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
        opacity: 0;
    }

    .mobile-menu.open {
        display: block;
        opacity: 1;
    }

    .mobile-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-icon .icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .mobile-menu ul {
        display: block;
        text-align: center;
        transition: all 2s ease-in-out;
    }

    .mobile-menu li a {
        display: block;
        padding: 10px;
        margin: 0;
    }

    .open {
        display: block;
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        transition: all 2s ease-in-out;
    }
}