* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#logo-buffet {
    width: 100px;
    height: 100px;
    margin-top: -5px;
}

ul {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li {
    margin-left: 30px;
    margin-right: 30px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

li a {
    text-decoration: none;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li:hover {
    text-shadow:
        0 0 10px rgba(255, 255, 0, 0.8),
        0 0 20px rgba(255, 255, 0, 0.6);
    transform: scale(1.10);
}

#login-sign {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#login-sign button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

#login-button {
    background-color: rgb(91, 214, 255);
    width: 100px;
    height: 40px;
    border-radius: 8px;
    color: black;
}

#login-button:hover {
    background-color: rgb(67, 192, 237);
    box-shadow: 0 0 10px rgba(67, 192, 237, 0.8), 0 0 25px rgba(67, 192, 237, 0.5);
    transform: translateY(-2px);
}

#sign-button {
    color: black;
    background-color: rgb(255, 178, 71);
    width: 100px;
    height: 40px;
    border-radius: 8px;
}

#sign-button:hover {
    background-color: rgb(255, 150, 0);
    box-shadow: 0 0 10px rgba(255, 150, 0, 0.8), 0 0 25px rgba(255, 150, 0, 0.5);
    transform: translateY(-2px);
}

.mobile-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

main{
    animation: fadeIn 1s ease-in-out;
 }
 
#pageTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: -65px;
}
#caixas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 110px;
    
}
.caixa {
    background-color: rgb(252, 189, 219);
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    width: 450px;
    height: 200px;
    box-shadow: 0 0 10px rgba(11, 78, 5, 0.1);
    transition: all 0.5s ease-in-out;
}
#caixa1{
    margin-right: 50px;
}

.caixa h4 {
    margin-bottom: 10px;
    color:  #000000;
    font-size: 20px;
    margin-left: 40px;
    margin-top: -27px;
}

.caixa p {
    line-height: 1.6;
    padding-bottom: 5px;
}
#produto {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
#caixa2{
    background-color: rgb(177, 222, 252);
}
#caixa3{
    background-color: rgb(252, 252, 134);
}
#caixa4{
    background-color: rgb(169, 252, 169);
}
#caixa1:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px rgb(252, 189, 219);
    transform: translateY(-15px);
}
#caixa2:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px rgb(177, 222, 252);
    transform: translateY(15px);
}
#caixa3:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px rgb(252, 252, 134);
    transform: translateY(-15px);
}
#caixa4:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 20px rgb(147, 255, 147);
    transform: translateY(15px);
}
#imagemcontato{
    width: 50px;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}
#caixa4 p{
    padding-bottom: 20px;
}
#caixa3 p{
    padding-bottom: 20px;
}
#caixa1 p{
    padding-bottom: 20px;
}
.depoimento-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  
  .depoimento-button {
    background-color: #9b57c6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px; 
    margin-top: -20px;
    margin-left: 285px;
  }
  
  .depoimento-button:hover {
    background-color: rgb(226, 2, 211);
  }
  #faq {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .accordion-button {
    background-color: rgb(252, 189, 219);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-color: black;
    border-radius: 15px;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .accordion-button:hover {
    background-color: rgb(244, 145, 193);
  }
  
  .accordion-content {
    padding: 0 15px;
    display: none;
    overflow: hidden;
    background-color: #f4dddd;
  }
  
  .accordion-content p {
    margin: 15px 0;
  }
  #titleDuvidas{
    margin-bottom: 20px;
    margin-top: 10px;
  }
  footer {
    position: relative;
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    color: white;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

footer p, footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
    max-width: 30px;
}

footer .bottom {
    text-align: center;
    padding: 10px ;
    border-top: 1px solid white;
    margin-top: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 150px;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width:500px) {
    nav {
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: none;
    }

    li {
        display: table;
        margin: auto;
    }

    #login-sign {
        margin: 30px;
    }

    #login-button {
        width: 80px;
        height: 40px;
    }

    .mobile-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
        opacity: 0;
    }

    .mobile-menu.open {
        display: block;
        opacity: 1;
    }

    .mobile-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-icon .icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .mobile-menu ul {
        display: block;
        text-align: center;
        transition: all 2s ease-in-out;
    }

    .mobile-menu li a {
        display: block;
        padding: 10px;
        margin: 0;
    }

    .open {
        display: block;
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        transition: all 2s ease-in-out;
    }
}