@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

nav {
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
}

#logo-buffet {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    cursor: pointer;
}

ul {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10px;
}

li {
    margin-left: 30px;
    margin-right: 30px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

li a {
    text-decoration: none;
    color: yellow;
    font-family: 'Poppins';
    font-size: 16px;
}

li:hover {
    text-shadow:
        0 0 10px rgba(255, 255, 0, 0.8),
        0 0 20px rgba(255, 255, 0, 0.6);
    transform: scale(1.10);
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}


.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.user #user-logo{
    max-width: 50px;
}

.user p{
    color: white;
    text-transform: capitalize;
}
.user a {
    text-decoration: none; /* Remover o sublinhado dos links */
    margin-top: 5px;
}

.logout img{
    max-width: 40px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 30px;
}

#login-sign {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#login-sign button {
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

#login-button {
    background-color: rgb(91, 214, 255);
    width: 80px;
    height: 40px;
    border-radius: 8px;
    color: black;
}

#login-button:hover {
    background-color: rgb(67, 192, 237);
    box-shadow: 0 0 10px rgba(67, 192, 237, 0.8), 0 0 25px rgba(67, 192, 237, 0.5);
    transform: translateY(-2px);
}

#sign-button {
    color: black;
    background-color: rgb(255, 178, 71);
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

#sign-button:hover {
    background-color: rgb(255, 150, 0);
    box-shadow: 0 0 10px rgba(255, 150, 0, 0.8), 0 0 25px rgba(255, 150, 0, 0.5);
    transform: translateY(-2px);
}

.mobile-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

main {
    height: 420vh;
}

#main-real {
    animation: fadeIn 1s ease-in-out;
}

#title-subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

#title-subtitle h1 {
    color: transparent;
    background: linear-gradient(to right, #B843E4, #6334B1, #66257E) ;
    -webkit-background-clip: text;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.carrossel {
    position: relative;
    width: 1100px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 550px;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-imgs {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr;
    grid-template-rows: 0.3fr 0.3fr;
    gap: 15px;
    width: 1200px; /* Ajuste o tamanho conforme necessário */
    height: 800px; /* Altura do grid */
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 70px;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

#img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url('../img/decoracao.jpg');
}

#img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url('../img/safari.webp');
}

#img3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url('../img/pais_azul.jpg');
}

#img4 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url('../img/pais_e_filho.jpg');
}

#img5 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url('../img/crianca_menina.jpg');
}

#img6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url('../img/palhaco.webp');
}

#img7 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url('../img/bebe_menina.jpg');
}

#img8 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url('../img/yuri_toystory.jpg');
}

#img9 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url('../img/esportes_bolo.jpg');
}

.container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.indicadores {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicador {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #66257E;
    cursor: pointer;
}

.ativo {
    background-color: #B843E4;
}

#section-pos-grid {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

#caixa-qs {
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    border: 3px solid #66257E;
    box-shadow: 0 4px 10px #B943E4;
    border-radius: 10px;
    padding: 20px;
}

#caixa-qs h1 {
    margin-top: -10px;
    color: #66257E;
}

#caixa-qs hr {
    width: 23%;
    border-color: #B943E4;
}

#caixa-qs p {
    display: flex;
    text-align: justify;
    margin-top: 10px;
}

#resumos-outras-pags {
    display: flex;
    flex-direction: column;
    height: 140vh;
    background:linear-gradient(rgb(186, 106, 186), rgb(148, 57, 166) );
    margin-top: 80px;
}

.hr-gradiente {
    height: 4px;
    min-height: 4px;
    width: 100%;
    background-color: #66257E;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#section-cardapio {
    display: flex;
    justify-content: center;
    height: 50vh;
    gap: 50px;
}

#textos-cardapio {
    padding: 50px;
    width: 700px;
    margin-left: -50px;
}

#textos-cardapio h2 {
    color: #66257E;
}

#textos-cardapio p {
    color: white;
    width: 105%;
}

#textos-cardapio button {
    background-color: rgb(255, 178, 71);
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

#textos-cardapio button a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

#textos-cardapio button:hover {
    cursor: pointer;
}

#img-cardapio {
    margin: 30px;
    background-color: #66257E;
    border: 2px solid #B943E4;
    box-shadow: 0 4px 10px #B943E4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    border-radius: 7px;
    margin-left: -5px;
}

#img-cardapio img {
    height: 300px;
    width: 600px;
    border-radius: 5px;
}

#section-lazer {
    display: flex;
    justify-content: center;
    height: 50vh;
    gap: 50px;
}

#textos-lazer {
    padding: 50px;
    width: 700px;
    margin-left: -50px;
}

#textos-lazer h2 {
    color: #66257E;
}

#textos-lazer p {
    color: white;
    width: 105%;
}

#textos-lazer button {
    background-color: rgb(255, 178, 71);
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

#textos-lazer button a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

#textos-lazer button:hover {
    cursor: pointer;
}

#img-lazer {
    margin: 30px;
    background-color: #66257E;
    border: 2px solid #B943E4;
    box-shadow: 0 4px 10px #B943E4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    border-radius: 7px;
    margin-left: -5px;
}

#img-lazer img {
    height: 300px;
    width: 600px;
    border-radius: 5px;
}

#section-orcfeed {
    display: flex;
    justify-content: center;
    height: 40vh;
    gap: 50px;
}

#textos-orc {
    padding: 50px;
    width: 700px;
    margin-left: -50px;
}

#textos-feed {
    padding: 50px;
    width: 700px;
    margin-left: -50px;
}

#textos-orc h2, #textos-feed h2 {
    color: #66257E;
}

#textos-orc p, #textos-feed p {
    color: white;
    width: 105%;
}

#textos-orc button, #textos-feed button {
    background-color: rgb(255, 178, 71);
    width: 140px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

#textos-orc button a, #textos-feed button a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

#textos-orc button:hover, #textos-feed button:hover {
    cursor: pointer;
}

#mis-vis-val {
    margin-top: 100px;
}


footer {
    position: relative;
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    color: white;
    margin-top: -100px;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

footer p,
footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
    max-width: 30px;
}

footer .bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
    margin-top: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 150px;

}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width:500px) {
    header {
        background: #6334B1;
    }

    nav {
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: none;
        margin-top: 0;
    }

    li {
        display: table;
        margin: auto;
    }

    #login-sign {
        margin: 30px;
    }

    #logo-buffet {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .user a {
        margin-top: -20px;
    }

    .user p {
        margin-top: -10px;
    }

    #login-button {
        width: 80px;
        height: 40px;
    }

    .mobile-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
        opacity: 0;
    }

    .mobile-menu.open {
        display: block;
        opacity: 1;
    }

    .mobile-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-icon .icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .mobile-menu ul {
        display: block;
        text-align: center;
        transition: all 2s ease-in-out;
    }

    .mobile-menu li a {
        display: block;
        padding: 10px;
        margin: 0;
    }

    .open {
        display: block;
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        transition: all 2s ease-in-out;
    }

    .logout img {
        margin-top: 0;
    }

    #title-subtitle h1{
        text-align: center;
        margin-top: 40px;
    }
}




#exp-mais {
    font-size: 1.8em;
    color: #00FFFF;
    margin-top: 40px;
}

#banners {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 100px;
    margin-top: 30px;
}

.caixa-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner {
    width: 300px;
    height: 350px;
    border-radius: 12px;
    padding: 15px;
    background-color: #f1cbff;
    border: 3px solid #66257E;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
}
    
#banner1 {
    margin-right: 5px;
}

a span {
    color: rgba(0, 37, 83, 0.8);
}

.banner:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #B943E4;
}

.banner i {
    margin-bottom: 15px;
    color: #00CED1;
}

.mini-title {
    color: #66257E;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.mini-text {
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
}

.link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #00FFFF;
    color: black;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    background-color: #00CED1;
    color: white;
}

#lista-valores {
    list-style-type: circle;
}