* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#tudomesmo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f0f0f0;
}
#logo-buffet {
    width: 100px;
    height: 100px;
    margin-top: -5px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    color: yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login-sign {
    margin-top: 25px;
}

#login-button {
    background-color: rgb(91, 214, 255);
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: 0;
}

#sign-button {
    background-color: rgb(255, 178, 71);
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: 0;
}
#titlePage{
    margin-top: 20px;
    margin-bottom: 20px;

}

h2 {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    font-size: 40px
}

  .form-container {
    background-color: #8A2BE2;
    border-radius: 25px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

textarea {
    resize: none;
    grid-column: span 2;
    height: 100px;
}

.termos {
    grid-column: span 2;
    display: flex;
    align-items: center;
}

.termos label {
    color: white;
}

.termos a {
    color: #1E90FF;
    text-decoration: none;
}

.termos a:hover {
    text-decoration: underline;
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}
