@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

nav {
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    position: sticky;
    z-index: 999;
}

#logo-buffet {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    z-index: 5;
    position: sticky;
}

ul {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10px;
}

li {
    margin-left: 30px;
    margin-right: 30px;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}

li a {
    text-decoration: none;
    color: yellow;
    font-family: 'Poppins';
    font-size: 16px;
}

li:hover {
    text-shadow:
        0 0 10px rgba(255, 255, 0, 0.8),
        0 0 20px rgba(255, 255, 0, 0.6) !important;
    transform: scale(1.10);
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}


.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.user #user-logo{
    max-width: 50px;
}

.user p{
    color: white;
    text-transform: capitalize;
}
.user a {
    text-decoration: none; /* Remover o sublinhado dos links */
    margin-top: 20px;
}

.logout img{
    max-width: 40px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 30px;
}

#login-sign {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#login-sign button {
    font-family: 'Poppins';
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
}

#login-button {
    background-color: rgb(91, 214, 255);
    width: 80px;
    height: 40px;
    border-radius: 8px;
    color: black;
}

#login-button:hover {
    background-color: rgb(67, 192, 237);
    box-shadow: 0 0 10px rgba(67, 192, 237, 0.8), 0 0 25px rgba(67, 192, 237, 0.5);
    transform: translateY(-2px);
}

#sign-button {
    color: black;
    background-color: rgb(255, 178, 71);
    width: 120px;
    height: 40px;
    border-radius: 8px;
}

#sign-button:hover {
    background-color: rgb(255, 150, 0);
    box-shadow: 0 0 10px rgba(255, 150, 0, 0.8), 0 0 25px rgba(255, 150, 0, 0.5);
    transform: translateY(-2px);
}

.mobile-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

svg {
    z-index: 1;
    position: relative;
}

main{
    height: 130vh;
}
#main-real {
    animation: fadeIn 1s ease-in-out;
    padding-bottom: 0;
    max-width: 700px;
    margin: 10px auto;
    margin-top: -20px;
    padding: 20px;
    background-color: #ffffff; /* cor de fundo suave */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra uniforme em toda a volta */
    background: linear-gradient(135deg, #ffffff, #f9f9f9); /* Gradiente suave de fundo */
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.politica {
    margin-top: 20px;
}

.politica #voltar img {
    height: 30px;
    width: 55px;
}

.politica #voltar div {
    margin-left: -5px;
}

#voltar {
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 25px;
    color: white;
    transition: 0.3s;
    z-index: 5;
    color: black;
    display: flex;
    align-items: center;
    width: 15%;
}

#voltar:hover {
    transform: scale(1.02);
}

/* Títulos */
h2 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #000000; /* Cor de texto roxa escura */
}

#editar {
    margin-bottom: 20px !important;
    text-align: center;
    font-size: 30px;
    color: #6334B1; /* Cor de texto roxa escura */
}

/* Formulário */
.form-group {
    margin-bottom: 12px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #6334B1; /* Cor roxa para os labels */
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #000000; /* Borda roxa suave */
    background-color: #ffffff; /* Cor de fundo mais suave */
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #4b3f35; /* Cor de borda no foco */
    background-color: #fff;
}

/* Botões */
.btn {
    background-color: #66257E; /* Cor de fundo roxa para botões */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 40px;
}

.btn:hover {
    background-color: #be4cad; /* Cor mais escura para o hover */
    color: white;
}

.delete {
    background-color: #d33;
    margin-top: -10px;
}

.delete:hover {
    background-color: rgb(172, 50, 50);
    color: white;
}

.admin-btn {
    background-color: #0066cc;
    margin-right: 10px;
    margin-top: -7px;
}

.admin-btn:hover {
    background-color: #005bb5;
}

/* Responsividade */
@media (max-width: 768px) {

    header {
        background: #6334B1;
    }

    nav {
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        display: none;
        margin-top: 0;
    }

    li {
        display: table;
        margin: auto;
    }

    #login-sign {
        margin: 30px;
    }

    #logo-buffet {
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .user a {
        margin-top: -10px;
    }


    #login-button {
        width: 80px;
        height: 40px;
    }

    .mobile-icon {
        display: block;
    }

    .mobile-menu {
        display: none;
        opacity: 0;
    }

    .mobile-menu.open {
        display: block;
        opacity: 1;
    }

    .mobile-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-icon .icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .mobile-menu ul {
        display: block;
        text-align: center;
        transition: all 2s ease-in-out;
    }

    .mobile-menu li a {
        display: block;
        padding: 10px;
        margin: 0;
    }

    .open {
        display: block;
        background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
        width: 100%;
        transition: all 2s ease-in-out;
    }

    .logout img {
        margin-top: 0;
    }

    .container {
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .btn, .delete, .admin-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

footer {
    position: relative;
    background: linear-gradient(90deg, #66257E, #6334B1, #B943E4);
    color: white;
    margin-top: 0;
    padding: 20px 0;
}

footer .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

footer h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

footer p,
footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

footer .social a {
    margin-right: 10px;
}

footer .social img {
    max-width: 30px;
}

footer .bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
    margin-top: 20px;
    font-size: 14px;
}

.footer-logo {
    width: 150px;
}
